{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center mb-2">
            <div style="font-size: 24pt; font-style: bold;">
                {{ npo.orgname }}
            </div>
            <div class="ul-cfwn">
                Staff: {{ rep.fname }} {{ rep.sname }};  <a class="text-decoration-none" href="mailto:{{ rep.email }}">{{ rep.email }}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 mb-2">
            <div class="d-flex flex-row">
                <div class="d-flex p-2">
                    Address
                </div>
                <div class="d-flex p-2">
                    {{ npo.address }} {{ npo.city }}, {{ npo.zip }}
                </div>
            </div>
            {% if npo.website is not null %}
                <div class="d-flex flex-row">
                    <div class="d-flex p-2">
                        Website
                    </div>
                    <div class="d-flex p-2">
                        <a class="text-decoration-none" href="{{ npo.website }}">{{ npo.website }}</a>
                    </div>
                </div>
            {% endif %}
            <div><span class="ul-cfwn">Focuses</span></div>
            {% for focus in npo.focuses %}
                {{ focus.focus }}</br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
