{# form.staff occurs when registering a nonprofit #}
{% if form.staff is defined %}{% set user = form.staff %}{% else %}{% set user = form %}{% endif %}
<div class="text-center text-bold ul-cfwn mb-2">
    {{ userHeader }}
</div>
{{ form_row(user.fname) }}
{{ form_row(user.sname) }}
{{ form_row(user.email) }}
{% if invite is not defined %}
    {{ form_row(user.plainPassword.first) }}
    {{ form_row(user.plainPassword.second) }}
{% endif %}
