<div class="text-center text-bold">
    {{ userHeader }}
</div>
<div class="row">
    <div class="col-4 form-inline">
        {{ form_row(form.fname) }} {{ form_row(form.sname) }}
    </div>
</div>
<div class="row">
    <div class="col-9 form-inline">
        {{ form_row(form.email) }}
    </div>
</div>
<div class="row">
    <div class="col-4 form-inline">
        {{ form_row(form.plainPassword.first) }}
    </div>
</div>
<div class="row form-inline">
    <div class="col-4 form-inline">
        {{ form_row(form.plainPassword.second) }}
    </div>
</div>
