<div class="d-flex">
{{ form.vars.value.fname }} {{ form.vars.value.sname }}
</div>
<div class="d-flex">
Email: {{ form.vars.value.email }}
</div>
<div class="d-flex">
{{ form_row(form.plainPassword.first) }}
</div>
<div class="d-flex">
{{ form_row(form.plainPassword.second) }}
</div>
