<div class="d-flex mb-2">
{{ form.vars.value.fname }} {{ form.vars.value.sname }}
</div>
<div class="d-flex mb-2 ul-cfwn">
Email: {{ form.vars.value.email }}
</div>
<div class="d-flex mb-2">
{{ form_row(form.plainPassword.first) }}
</div>
<div class="d-flex mb-2">
{{ form_row(form.plainPassword.second) }}
</div>
