{% extends 'base.html.twig' %}
{% form_theme form 'form/form_row.html.twig' %}
{% block body %}
    <div class="text-center mb-2" style="font-size: 18px;">
        {% autoescape %}
            <b>{{ headerText|raw }}</b>
        {% endautoescape %}
    </div>
    <div class="text-center">
        <span class="text-danger">*</span> indicates item is required
    </div>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        {% for template in templates %}
            <div class="col-4">
                {% include template %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            {{ form_row(form._token) }}
            {% if submitValue is not defined %}{% set value = 'Save' %}{% else %}{% set value = submitValue %}{% endif %}
            <div><input class="btn-sm btn-info" type="submit" name="submit" value="{{ value }}"></div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
    <script type="text/javascript">
        $(window).load(function ()
        {
            var phones = [{"mask": "(###) ###-####"}, {"mask": "(###) ###-##############"}];
            $('#org_phone').inputmask({
                mask: phones,
                greedy: false,
                definitions: {'#': {validator: "[0-9]", cardinality: 1}}});
        });
    </script>
{% endblock javascripts %}