<nav class="navbar navbar-expand-md navbar-light" style="font-size: 1.2rem; font-weight: bold;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="{{ asset('build/images/community-foundation-of-western-nevada.png') }}" alt="Community Foundation of Western Nevada"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Volunteer</a>
            </li>
{#            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarVolunteer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Volunteer
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarVolunteer">
                    <a class="dropdown-item" href="{{ path('home') }}">Search</a>
                    <a class="dropdown-item" href="{{ path('home') }}">Register</a>
                </div>
            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Nonprofits</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarAdmin">
                        <a class="dropdown-item" href="{{ path('home') }}">Invite user</a>
                        <a class="dropdown-item" href="{{ path('home') }}">Options & users</a>
                        <a class="dropdown-item" href="{{ path('home') }}">Change status</a>
                    </div>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarAccount">
                        <a class="dropdown-item" href="{{ path('home') }}">Change password</a>
                        <a class="dropdown-item" href="{{ path('home') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">Log in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>