{% extends 'base.html.twig' %}
{% form_theme form 'form/form_row.html.twig' %}
{% if submitValue is not defined %}{% set value = 'Save' %}{% else %}{% set value = submitValue %}{% endif %}
{% block body %}
    <div class="text-center mb-2" style="font-size: 18px;">
        {% autoescape %}
            <b>{{ headerText|raw }}</b>
        {% endautoescape %}
    </div>
    {% if value == 'Save' %}
        <div class="text-center">
            <span class="text-danger">*</span> indicates item is required
        </div>
    {%  endif %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-4">
            {% if header.left is defined %}
                <div class="text-center ul-cfwn">
                    {{ header.left }}
                </div>
            {% endif %}
            <br />
            {% if entity_form.left is defined %}
                {% for template in entity_form.left %}
                    {% include template %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            {% if header.center is defined %}
                <div class="text-center ul-cfwn">
                    {{ header.center }}
                </div>
            {% endif %}
            <br />
            {% if entity_form.center is defined %}
                {% for template in entity_form.center %}
                    {% include template %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            {% if header.right is defined %}
                <div class="text-center ul-cfwn">
                    {{ header.right }}
                </div>
            {% endif %}
            <br />
            {% if entity_form.right is defined %}
                {% for template in entity_form.right %}
                    {% include template %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 text-center">
            {{ form_row(form._token) }}
            <div><input class="btn-sm btn-info" type="submit" name="submit" value="{{ value }}"></div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
