<div class=" mb-2">
    {{ form_row(form.active) }}
</div>
<div class=" mb-2">
    {{ form_row(form.oppname) }}
</div>
<div class=" mb-2">
    {{ form_row(form.description) }}
</div>
<div class=" mb-2">
    {{ form_row(form.expiredate) }}
</div>
<div class=" mb-2">
    {{ form_row(form.minage) }}
</div>
<div class=" mb-2">
    {{ form_row(form.groupOk) }}
</div>
<div class=" mb-2">
    {{ form_row(form.background) }}
</div>