<div class="text-center text-bold mb-2">
    {{ oppHeader }}
</div>
{{ form_row(form.oppname) }}
{{ form_row(form.description) }}
{{ form_row(form.expiredate) }}
{{ form_row(form.minage) }}
{{ form_row(form.groupOk) }}
{{ form_row(form.background) }}
