{% extends 'base.html.twig' %}
{% block body %}
    <p>We found the following opportunites that might be of interest</p>
    {% set npo = '' %}
    <table class="table m-2 oppTable">
        <thead>
            <tr class="d-flex">
                <th class="col-2">Nonprofit</th>
                <th class="col-2">Opportunity</th>
                <th class="col-4">Description</th>
                <th class="col-4">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for opp in opportunities %}
                <tr class="d-flex">
                    {% if npo != opp.nonprofit.orgname %}
                        {% set npo = opp.nonprofit.orgname %}
                        <td class="col-2">
                            <a class="cfwn-blue" href="{{ path('npo_view', {'id': opp.nonprofit.id}) }}">{{ npo }}</a><br />
                            <a class="cfwn-blue" href="mailto:{{ opp.nonprofit.staff.email }}">{{ opp.nonprofit.staff.email }}</a>
                            {% if opp.nonprofit.website is defined %}
                                <a class="cfwn-blue" href="{{ opp.nonprofit.website }}">Website</a>
                            {% endif %}
                        </td>
                    {% else %}
                        <td class="col-2"></td>
                    {% endif %}
                    <td class="col-2">{{ opp.oppname }}</td>
                    <td id="oppDesc" class="col-4 v-ellipsis " data-expandlink="<span style='color:#C53A32;'><i>Read more</i></span>" data-collapselink="<span style='color:#C53A32;'><i>Read less</i></span>">{{ opp.description }}</td>
                    <td class="col-2">
                        <span class="ul-cfwn">Expires</span> {{ opp.expiredate|date('m/d/Y') }}<br />
                        <span class="ul-cfwn">Min age</span> {{ opp.minage }}
                    </td>
                    <td class="col-2">
                        <span class="ul-cfwn">Group OK?</span> {{ opp.groupOk ? 'Yes':'No'  }}<br />
                        <span class="ul-cfwn">Background check?</span> {{ opp.background ? 'Yes':'No'  }}
                    </td>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ellipsis') }}
    <script type="text/javascript">
        $(document).ready(function () {
            $().vEllipsis({
                'expandLink': true,
                'collapseLink': true,
                'lines': 1,
                'onlyFullWords': true,
            });
        });
    </script>
{% endblock %}
