{% extends 'base.html.twig' %}
{% block body %}
    <p>We found the following opportunites that might be of interest</p>
    {% set npo = '' %}
    <table class="table oppTable table-sm">
        <thead>
            <tr class="d-flex">
                <th class="col-2">Nonprofit</th>
                <th class="col-2">Opportunity</th>
                <th class="col-4">Description</th>
                <th class="col-4">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for opp in opportunities %}
                <tr class="d-flex">
                    {% set npo = opp.nonprofit.orgname %}
                    <td class="col-2">
                        <table class="table table-borderless">
                            <tr><td><a class="cfwn-blue" href="{{ path('npo_view', {'id': opp.nonprofit.id}) }}">{{ npo }}</a>
                            <tr><td><a class="cfwn-blue" href="mailto:{{ opp.nonprofit.representative.email }}">{{ opp.nonprofit.representative.email }}</a>
                            <tr><td>
                                    {% if opp.nonprofit.website is not null %}
                                        <a class="cfwn-blue" href="{{ opp.nonprofit.website }}">Website</a>
                                    {% endif %}
                        </table>
                    <td class="col-2">
                        <table class="table table-borderless">
                            <tr><td>{{ opp.oppname }}
                        </table>
                    <td class="col-4">
                        <table class="table table-borderless">
                            <tr><td id="oppDesc" class="col-4 v-ellipsis " data-expandlink="<span style='color:#C53A32;'><i>Read more</i></span>" data-collapselink="<span style='color:#C53A32;'><i>Read less</i></span>">{{ opp.description }}
                        </table>
                    <td class="col-2">
                        <table class="table table-borderless">
                            <tr><td><span class="ul-cfwn">Expires</span> {{ opp.expiredate|date('m/d/Y') }}
                            <tr><td><span class="ul-cfwn">Min age</span> {{ opp.minage }}
                        </table>
                    <td class="col-2">
                        <table class="table table-borderless">
                            <tr><td><span class="ul-cfwn">Group OK?</span> {{ opp.groupOk ? 'Yes':'No'  }}
                            <tr><td><span class="ul-cfwn">Background check?</span> {{ opp.background ? 'Yes':'No'  }}
                        </table>
                    {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ellipsis') }}
    <script type="text/javascript">
        $(document).ready(function () {
            $().vEllipsis({
                'expandLink': true,
                'collapseLink': true,
                'lines': 3,
                'onlyFullWords': true,
            });
        });
    </script>
{% endblock %}
