<p>A new nonprofit has submitted registration on {{ ''|date("m/d/Y") }}. This organization 
    will not be able to post any volunteer opportunities until it is verified and activated.</p>
<p>Nonprofit: {{ npo.orgname }}</p>
<p>Select and copy this EIN: {{ npo.ein }} to paste into the site provided below.</p>
<p>The <a href="https://apps.irs.gov/app/eos/">IRS Tax Exempt Organization Search </a>
    can be used to verify {{ npo.orgname }}. Its EIN is {{ npo.ein }}.</p>
<p>Activation requires an admin login at the ConnectionsReno web site. 
    Activation can be done by clicking <a href="{{ absolute_url('activate_nonprofit', {"id":npo.id}) }}">here</a>. 
 </p>
<p>The ConnectionsReno Team</p>
